RewriteEngine On

# If requested file does not exists procceed
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ([0-9a-zA-Z\/\.\-]+)
RewriteRule ^([0-9a-zA-Z\/\.\-]+) index.php [QSA]


